{% extends 'base.html.twig' %}

{% block title %}Welcome page{% endblock %}

{% block body %}
<div class="container bg-blue-100">
    <h1 class="text-xl text-orange-500 underline">Welcome on main page!</h1>
</div>
{% endblock %}

