{% extends 'base.html.twig' %}

{% block title %}Ranking{% endblock %}

{% block body %}
    <ul>
        {% for user in users %}
            <li><a href="{{ path('profile', {username: user.username}) }}">{{ user.username }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
