{% extends 'base.html.twig' %}

{% block title %}Ranking{% endblock %}

{% block body %}
    <h1>Transactions</h1>

    <div>
        Prices <br>

        <p>
            BTC: <span id="btcPrice">0</span> <br>
            ETH: <span id="ethPrice">0</span>
        </p>

        <button id="updateBtn" class="border border-2 border-black p-2 m-3 text-3xl">
            Update prices
        </button>

    </div>

    <script>
        const updateBtn = document.querySelector('#updateBtn'),
              btcPrice = document.querySelector('#btcPrice'),
              ethPrice = document.querySelector('#ethPrice');

        const binanceApiUrl = 'https://api.binance.com/api/v3/ticker/price',
              currency = 'USDT',
              crypto = 'BTC';

        const dateParameter = `${crypto}${currency}`,
              completeApiUrl = `${binanceApiUrl}?symbol=${dateParameter}`;

        async function updateData() {
            await fetch(completeApiUrl)
                .then((response) => response.json())
                .then((data) => {
                    btcPrice.innerHTML = data.price;
                })
        }

        updateBtn.addEventListener('click', () => {
            updateData();
        });

    </script>

{% endblock %}
